<div id="{{ handle~'socialTwitterType' }}_product" class="block is-hidden">
	<div class="field">
		<div class="heading">
			<label for="">Image</label>
			<div class="instructions">
				Product image. Must be less than 1MB in size.
			</div>
		</div>
		<div class="input">
			{% if assetsSourceExists %}
				{{ forms.elementSelect({
					elements: socialTwitterProductImageElements,
					id: handle~'socialTwitterProductImageId',
					name: handle~'[socialTwitterProductImageId]',
					elementType: elementType,
					criteria: {"kind":[],"localeEnabled":null,"locale":"en_us"},
					sourceElementId: socialTwitterProductImageId,
					jsClass: 'Craft.AssetSelectInput',
					addButtonLabel: 'Select Image',
					limit: 1,
				}) }}
			{% else %}
				<p class="error">No assets sources currently exist. <a href="{{ newAssetsSourceUrl }}">Create one now...</a></p>
			{% endif %}
		</div>
	</div>
	{{ forms.textField({
		label       : "Data 1"|t,
		instructions: 'Specify values for labels such as price, items in stock, sizes, etc.',
		id          : handle~'socialTwitterProductData1',
		name        : handle~'[socialTwitterProductData1]',
		value       : socialTwitterProductData1,
		placeholder : "$125",
	}) }}
	{{ forms.textField({
		label       : "Label 1"|t,
		instructions: 'Explains the type of data (price, country, etc.)',
		id          : handle~'socialTwitterProductLabel1',
		name        : handle~'[socialTwitterProductLabel1]',
		value       : socialTwitterProductLabel1,
		placeholder : "USD",
	}) }}
	{{ forms.textField({
		label       : "Data 2"|t,
		instructions: 'Specify values for labels such as price, items in stock, sizes, etc.',
		id          : handle~'socialTwitterProductData2',
		name        : handle~'[socialTwitterProductData2]',
		value       : socialTwitterProductData2,
		placeholder : "Boston, MA",
	}) }}
	{{ forms.textField({
		label       : "Label 2"|t,
		instructions: 'Explains the type of data (price, country, etc.)',
		id          : handle~'socialTwitterProductLabel2',
		name        : handle~'[socialTwitterProductLabel2]',
		value       : socialTwitterProductLabel2,
		placeholder : "Location",
	}) }}
</div>