.simple-meta {
	margin-top: 25px;
}

.simple-meta .group {
	background-color: #F9FAFA;
	border: 1px solid #DFE0E0;
	border-radius: 4px;
	margin-bottom: 25px;
}

.simple-meta .group.last {
	margin-bottom: 0;
}

.simple-meta .group .block {
	border-bottom: 1px solid #DFE0E0;
	border-top: 1px solid #ffffff;
	padding: 20px;
}

.simple-meta .group .addl-fields .block {
	border: 0;
	padding: 0;
}

.simple-meta .group .block:first-child {
	border-top: none;
}

.simple-meta .group .block:last-child {
	border-bottom: none;
}

.simple-meta header {
	margin-bottom: 10px;
}

.simple-meta h3 {
	font-size: 14px;
	margin: 0;
}

.simple-meta h3 + p {
	color: #8F98A3;
	font-size: 13px;
	margin: 3px 0 0 0;
}

.simple-meta .max .field {
	margin: 0;
}

.simple-meta .countdown {
	color: #8F98A3;
	font-size: 11px;
	text-align: right;
}

.simple-meta .countdown .live {
	font-weight: 700;
}

.simple-meta .countdown .live.nope {
	color: #DA5A47;
}

.simple-meta .is-hidden {
	display: none;
}

.simple-meta .is-visible {
	display: inherit;
}

.simple-meta input.uppercase {
	text-transform: uppercase;
}

.simple-meta .platform {
	padding-bottom: 20px;
}

.simple-meta .platform:last-child {
	padding-bottom: 0;
}

.simple-meta .platform h4 {
	border-bottom: 1px solid #DFE0E0;
	margin: 0;
}

.simple-meta .expand > .field {
	margin-bottom: 0;
}

.simple-meta .expand .child {
	padding: 24px 0 12px 0;
}