.group {
	background-color: #F9FAFA;
	border: 1px solid #DFE0E0;
	border-radius: 4px;
	margin-bottom: 25px;
}

.group.last {
	margin-bottom: 0;
}

.group .block {
	border-bottom: 1px solid #DFE0E0;
	border-top: 1px solid #ffffff;
	padding: 20px;
}

.group .block:first-child {
	border-top: none;
}

.group .block:last-child {
	border-bottom: none;
}

h3 {
	font-size: 14px;
	margin: 0;
}

h3 + p {
	color: #8F98A3;
	font-size: 13px;
	margin: 3px 0 0 0;
}

.max .field {
	margin: 0;
}

.countdown {
	color: #8F98A3;
	font-size: 11px;
	text-align: right;
}

.countdown .live {
	font-weight: 700;
}

.countdown .live.nope {
	color: #DA5A47;
}

.is-hidden {
	display: none;
}
