{% import "_includes/forms" as forms %}

<div class="simple-meta">
	<section class="social">

		<h2>Social Meta</h2>
		<div class="group">

			<div class="block">
				<header>
					<h3>Open Graph</h3>
					<p>Metadata for Facebook, Google+ and Pinterest</p>
				</header>

				{{ forms.textField({
					label: "Title"|t,
					id   : handle~'socialOGTitle',
					name : handle~'[socialOGTitle]',
					value: socialOGTitle,
				}) }}

				{{ forms.textareaField({
					label: "Description"|t,
					id   : handle~'socialOGDescription',
					name : handle~'[socialOGDescription]',
					value: socialOGDescription,
				}) }}

				<div class="field">
					<div class="heading">
						<label for="">Image</label>
						<div class="instructions">
							Twitter image. Must be at least 280px wide, 150px tall, and less than 1MB in size.
						</div>
					</div>
					<div class="input">
						Assets
					</div>
				</div>

				{{ forms.selectField({
					label       : "Content Type"|t,
					instructions: "The type of content",
					class       : "has-addl-fields",
					id          : handle~'socialOGType',
					name        : handle~'[socialOGType]',
					value       : socialOGType,
					options: {
						article: "Article",
						profile: "Profile",
						video  : "Video",
						website: "Website",
					}
				}) }}

				<div class="addl-fields">
					<div id="{{ handle~'socialOGType' }}_video" class="block is-hidden">
						Video
					</div>
				</div>

			</div>

			<div class="block">
				<header>
					<h3>Twitter</h3>
					<p>Metadata for Twitter Cards</p>
				</header>

				<div class="max">
					{{ forms.textField({
						label: "Title"|t,
						instructions: "Summary title less than 70 characters",
						id   : handle~'socialTwitterTitle',
						name : handle~'[socialTwitterTitle]',
						value: socialTwitterTitle,
					}) }}
					<div class="countdown" data-max="70">
						<span class="live">0</span>&nbsp;/&nbsp;70 Characters
					</div>
				</div>

				<div class="max">
					{{ forms.textareaField({
						label       : "Description"|t,
						instructions: "Page description less than 200 characters",
						id          : handle~'socialTwitterDescription',
						name        : handle~'[socialTwitterDescription]',
						value       : socialTwitterDescription,
					}) }}
					<div class="countdown" data-max="200">
						<span class="live">0</span>&nbsp;/&nbsp;200 Characters
					</div>
				</div>

				<div class="field">
					<div class="heading">
						<label for="">Image</label>
						<div class="instructions">
							Twitter image. Must be at least 280px wide, 150px tall, and less than 1MB in size.
						</div>
					</div>
					<div class="input">
						Assets
					</div>
				</div>

				{{ forms.selectField({
					label       : "Content Type"|t,
					instructions: "The type of content",
					class       : "has-addl-fields",
					id          : handle~'socialTwitterType',
					name        : handle~'[socialTwitterType]',
					value       : socialTwitterType,
					options: {
						summary            : "Summary",
						summary_large_image: "Summary w/ Large Image",
						photo              : "Photo",
						gallery            : "Gallery",
						app                : "App",
						product            : "Product",
						player             : "Player",
					}
				}) }}

				<div class="addl-fields">

					<div id="{{ handle~'socialTwitterType' }}_summary" class="block is-hidden">
						<div class="field">
							<div class="heading">
								<label for="">Image</label>
								<div class="instructions">
									Unique summary image. Must be at least 120px 120px and less than 1MB in size.
								</div>
							</div>
							<div class="input">
								Assets
							</div>
						</div>
					</div>

					<div id="{{ handle~'socialTwitterType' }}_summary_large_image" class="block is-hidden">
						<div class="field">
							<div class="heading">
								<label for="">Image</label>
								<div class="instructions">
									Unique summary image. Must be at least 280px wide, 150px tall, and less than 1MB in size.
								</div>
							</div>
							<div class="input">
								Assets
							</div>
						</div>
					</div>

					<div id="{{ handle~'socialTwitterType' }}_photo" class="block is-hidden">
						<div class="field">
							<div class="heading">
								<label for="">Image</label>
								<div class="instructions">
									Photo. Must be at least 280px wide, 150px tall, and less than 1MB in size.
								</div>
							</div>
							<div class="input">
								Assets
							</div>
						</div>
					</div>

					<div id="{{ handle~'socialTwitterType' }}_gallery" class="block is-hidden">
						<div class="field">
							<div class="heading">
								<label for="">Image Gallery</label>
								<div class="instructions">
									Select up to 4 images. Each image must be less than 1MB in size.
								</div>
							</div>
							<div class="input">
								Assets (max 4)
							</div>
						</div>
					</div>

					<div id="{{ handle~'socialTwitterType' }}_app" class="block is-hidden">
						{{ forms.textField({
							label       : "App Country"|t,
							instructions: 'Two-letter country code for the App Store',
							id          : handle~'socialTwitterAppCountry',
							class 		: "uppercase",
							name        : handle~'[socialTwitterAppCountry]',
							value       : socialTwitterAppCountry,
							size		: "2",
							maxlength 	: "2",
						}) }}
						<div class="platform">
							<h4>iPhone</h4>
							{{ forms.textField({
								label       : "iPhone App ID"|t,
								instructions: 'Your iPhone App Store ID (i.e. "307234931")',
								id          : handle~'socialTwitterAppIphoneId',
								name        : handle~'[socialTwitterAppIphoneId]',
								value       : socialTwitterAppIphoneId,
								size		: "25",
							}) }}
							{{ forms.textField({
								label       : "iPhone App URL"|t,
								instructions: 'Your iPhone app&rsquo;s custom URL scheme (i.e. "appname://")',
								id          : handle~'socialTwitterAppIphoneUrl',
								name        : handle~'[socialTwitterAppIphoneUrl]',
								value       : socialTwitterAppIphoneUrl,
								size		: "25",
							}) }}
						</div>
						<div class="platform">
							<h4>iPad</h4>
							{{ forms.textField({
								label       : "iPad App ID"|t,
								instructions: 'Your iPad App Store ID (i.e. "307234931")',
								id          : handle~'socialTwitterAppIpadId',
								name        : handle~'[socialTwitterAppIpadId]',
								value       : socialTwitterAppIpadId,
								size		: "25",
							}) }}
							{{ forms.textField({
								label       : "iPad App URL"|t,
								instructions: 'Your iPad app&rsquo;s custom URL scheme (i.e. "appname://")',
								id          : handle~'socialTwitterAppIpadUrl',
								name        : handle~'[socialTwitterAppIpadUrl]',
								value       : socialTwitterAppIpadUrl,
								size		: "25",
							}) }}
						</div>
						<div class="platform">
							<h4>Android</h4>
							{{ forms.textField({
								label       : "Google Play App ID"|t,
								instructions: 'Your Google Play App Store ID (i.e. "com.android.app")',
								id          : handle~'socialTwitterAppAndroidId',
								name        : handle~'[socialTwitterAppAndroidId]',
								value       : socialTwitterAppAndroidId,
								size		: "25",
							}) }}
							{{ forms.textField({
								label       : "Android App URL"|t,
								instructions: 'Your Android app&rsquo;s custom URL scheme',
								id          : handle~'socialTwitterAppAndroidUrl',
								name        : handle~'[socialTwitterAppAndroidUrl]',
								value       : socialTwitterAppAndroidUrl,
								size		: "25",
							}) }}
						</div>
					</div>

					<div id="{{ handle~'socialTwitterType' }}_product" class="block is-hidden">
						<div class="field">
							<div class="heading">
								<label for="">Image</label>
								<div class="instructions">
									Product image. Must be less than 1MB in size.
								</div>
							</div>
							<div class="input">
								Assets
							</div>
						</div>
						{{ forms.textField({
							label       : "Data 1"|t,
							instructions: 'Specify values for labels such as price, items in stock, sizes, etc.',
							id          : handle~'socialTwitterProductData1',
							name        : handle~'[socialTwitterProductData1]',
							value       : socialTwitterProductData1,
							placeholder : "$125",
						}) }}
						{{ forms.textField({
							label       : "Label 1"|t,
							instructions: 'Explains the type of data (price, country, etc.)',
							id          : handle~'socialTwitterProductLabel1',
							name        : handle~'[socialTwitterProductLabel1]',
							value       : socialTwitterProductLabel1,
							placeholder : "USD",
						}) }}
						{{ forms.textField({
							label       : "Data 2"|t,
							instructions: 'Specify values for labels such as price, items in stock, sizes, etc.',
							id          : handle~'socialTwitterProductData2',
							name        : handle~'[socialTwitterProductData2]',
							value       : socialTwitterProductData1,
							placeholder : "Boston, MA",
						}) }}
						{{ forms.textField({
							label       : "Label 2"|t,
							instructions: 'Explains the type of data (price, country, etc.)',
							id          : handle~'socialTwitterProductLabel2',
							name        : handle~'[socialTwitterProductLabel2]',
							value       : socialTwitterProductLabel2,
							placeholder : "Location",
						}) }}
					</div>

					<div id="{{ handle~'socialTwitterType' }}_player" class="block is-hidden">
						<h3>Player fields go here</h3>
					</div>
				</div>

			</div>

		</div>
	</section>

	<section class="seo">
		<h2>SEO Meta</h2>
		<div class="group last">

			<div class="block">
				<div class="max">
					{{ forms.textField({
						label       : "Title"|t,
						instructions: "Title display in search engines results. Maximum length 70 characters.",
						id          : handle~'seoTitle',
						name        : handle~'[seoTitle]',
						value       : seoTitle,
					}) }}
					<div class="countdown" data-max="70">
						<span class="live">0</span>&nbsp;/&nbsp;70 Characters
					</div>
				</div>

				<div class="max">
					{{ forms.textareaField({
						label       : "Description"|t,
						instructions: "Description displayed in search engine results. Maximum length 155 characters.",
						id          : handle~'seoDescription',
						name        : handle~'[seoDescription]',
						value       : seoDescription,
					}) }}
					<div class="countdown" data-max="155">
						<span class="live">0</span>&nbsp;/&nbsp;155 Characters
					</div>
				</div>

			</div>

			<div class="block">
				{{ forms.textField({
					label       :  "Meta Canonical URL"|t,
					instructions: "The canonical URL that this page should point to. Cross domain canonical supported too.",
					id          : handle~'seoCanonicalUrl',
					name        : handle~'[seoCanonicalUrl]',
					value       : seoCanonicalUrl,
				}) }}
			</div>

			<div class="block">
				{{ forms.selectField({
					label       : "Robots Index"|t,
					instructions: "Should robots index this page?",
					id          : handle~'seoRobotsIndex',
					name        : handle~'[seoRobotsIndex]',
					value       : seoRobotsIndex,
					options: {
						index  : "Index",
						noindex: "No Index",
					}
				}) }}

				{{ forms.selectField({
					label       : "Robots Follow"|t,
					instructions: "Should robots follow links on this page?",
					id          : handle~'seoRobotsFollow',
					name        : handle~'[seoRobotsFollow]',
					value       : seoRobotsFollow,
					options: {
						follow  : "Follow",
						nofollow: "No Follow",
					}
				}) }}
			</div>

			<div class="block">
				{{ forms.selectField({
					label       : "Sitemap Priority"|t,
					instructions: "The priority given to this page in the XML sitemap.",
					id          : handle~'seoSitemapPriority',
					name        : handle~'[seoSitemapPriority]',
					value       : seoSitemapPriority,
					options: {
						""   : "Select",
						"1"  : "1 - Highest Priority",
						"0.9": "0.9",
						"0.8": "0.8 - Default for first-tier pages",
						"0.7": "0.7",
						"0.6": "0.6 - Default for second-tier pages and posts",
						"0.5": "0.5 - Medium priority",
						"0.4": "0.4",
						"0.3": "0.3",
						"0.2": "0.2",
						"0.1": "0.1 - Lowest priority",
					}
				}) }}
			</div>

		</div>
	</section>
</div>
