{% import "_includes/forms" as forms %}

<div class="simple-meta">
	<section class="social">

		<h2>Social Meta</h2>
		<div class="group">

			<div class="block">
				<header>
					<h3>Open Graph</h3>
					<p>Metadata for Facebook, Google+ and Pinterest</p>
				</header>

				{{ forms.textField({
					label:  "Title"|t,
					id:     handle~'smSocialOGTitle',
					name:   handle~'[smSocialOGTitle]',
					value:  smSocialOGTitle,
				}) }}

				{{ forms.textareaField({
					label:  "Description"|t,
					id:     handle~'smSocialOGDescription',
					name:   handle~'[smSocialOGDescription]',
					value:  smSocialOGDescription,
				}) }}

				{{ forms.selectField({
					label:          "Content Type"|t,
					instructions:   "The type of content",
					id:             handle~'smSocialOGType',
					name:           handle~'[smSocialOGType]',
					value:          smSocialOGType,
					options: {
						article:                "Article",
						book:                   "Book",
						"music.song":           "Music - Song",
						"music.album":          "Music - Album",
						"usic.playlist":        "Music - Playlist",
						"music.radio_station":  "Music - Radio Station",
						profile:                "Profile",
						"video.movie":          "Video - Movie",
						"video.episode":        "Video - Episode",
						"video.tv_show":        "Video - TV Show",
						website:                "Website",
					}
				}) }}

			</div>

			<div class="block">
				<header>
					<h3>Twitter</h3>
					<p>Metadata for Twitter Cards</p>
				</header>

				{{ forms.textField({
					label:  "Title"|t,
					id:     handle~'smSocialTwitterTitle',
					name:   handle~'[smSocialTwitterTitle]',
					value:  smSocialTwitterTitle,
				}) }}

				<div class="max">
					{{ forms.textareaField({
						label:          "Description"|t,
						instructions:   "Page description less than 200 characters",
						id:             handle~'smSocialTwitterDescription',
						name:           handle~'[smSocialTwitterDescription]',
						value:          smSocialTwitterDescription,
					}) }}
					<div class="countdown" data-max="200">
						<span class="live">0</span>&nbsp;/&nbsp;200 Characters
					</div>
				</div>

				{{ forms.selectField({
					label:          "Content Type"|t,
					instructions:   "The type of content",
					id:             handle~'smSocialTwitterType',
					name:           handle~'[smSocialTwitterType]',
					value:          smSocialTwitterType,
					options: {
						summary:                "Summary",
						summary_large_image:    "Summary w/ Large Image",
						photo:                  "Photo",
						gallery:                "Gallery",
						product:                "Product",
						app:                    "App",
						player:                 "Player",
					}
				}) }}

			</div>

		</div>
	</section>

	<section class="seo">
		<h2>SEO Meta</h2>
		<div class="group last">

			<div class="block">
				<div class="max">
					{{ forms.textField({
						label:          "Title"|t,
						instructions:   "Title display in search engines results. Maximum length 70 characters.",
						id:             handle~'smSEOTitle',
						name:           handle~'[smSEOTitle]',
						value:          smSEOTitle,
					}) }}
					<div class="countdown" data-max="70">
						<span class="live">0</span>&nbsp;/&nbsp;70 Characters
					</div>
				</div>

				<div class="max">
					{{ forms.textareaField({
						label:          "Description"|t,
						instructions:   "Description displayed in search engine results. Maximum length 155 characters.",
						id:             handle~'smSEODescription',
						name:           handle~'[smSEODescription]',
						value:          smSEODescription,
					}) }}
					<div class="countdown" data-max="155">
						<span class="live">0</span>&nbsp;/&nbsp;155 Characters
					</div>
				</div>

			</div>

			<div class="block">
				{{ forms.textField({
					label:          "Meta Canonical URL"|t,
					instructions:   "The canonical URL that this page should point to. Cross domain canonical supported too.",
					id:             handle~'smSEOCanonicalUrl',
					name:           handle~'[smSEOCanonicalUrl]',
					value:          smSEOCanonicalUrl,
				}) }}
			</div>

			<div class="block">
				{{ forms.selectField({
					label:          "Robots Index"|t,
					instructions:   "Should robots index this page?",
					id:             handle~'smSEORobotsIndex',
					name:           handle~'[smSEORobotsIndex]',
					value:          smSEORobotsIndex,
					options: {
						index:      "Index",
						noindex:    "No Index",
					}
				}) }}

				{{ forms.selectField({
					label:          "Robots Follow"|t,
					instructions:   "Should robots follow links on this page?",
					id:             handle~'smSEORobotsFollow',
					name:           handle~'[smSEORobotsFollow]',
					value:          smSEORobotsFollow,
					options: {
						follow:     "Follow",
						nofollow:   "No Follow",
					}
				}) }}
			</div>

			<div class="block">
				{{ forms.selectField({
					label:          "Sitemap Priority"|t,
					instructions:   "The priority given to this page in the XML sitemap.",
					id:             "smSEOSitemapPriority",
					name:           "smSEOSitemapPriority",
					options: {
						"": "Select",
						"1": "1 - Highest Priority",
						"0.9": "0.9",
						"0.8": "0.8 - Default for first-tier pages",
						"0.7": "0.7",
						"0.6": "0.6 - Default for second-tier pages and posts",
						"0.5": "0.5 - Medium priority",
						"0.4": "0.4",
						"0.3": "0.3",
						"0.2": "0.2",
						"0.1": "0.1 - Lowest priority",
					}
				}) }}
			</div>

		</div>
	</section>
</div>
