{%- import "_imports/simpleMeta" as meta %}

{{ meta.metaName('description', seoDescription) }}
{{ meta.metaLink('canonical', seoCanonicalUrl) }}
{{ meta.metaRobots(_context) }}
{{ meta.metaProperty('og:type', socialOGType) }}
{{ meta.metaProperty('og:title', socialOGTitle) }}
{{ meta.metaProperty('og:description', socialOGDescription) }}
{{ meta.metaAsset('og:image', socialOGImageId) }}
{{ meta.metaObjectOpenGraphMedia(_context) }}
{{ meta.metaProperty('twitter:card', socialTwitterType) }}
{{ meta.metaProperty('twitter:title', socialTwitterTitle) }}
{{ meta.metaProperty('twitter:description', socialTwitterDescription) }}
{{ meta.metaObjectTwitterCard(_context) }}